@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500;700&display=swap");
.style {
  font-family: Mukta;
}

.main-content-notif-daful .nama-jalur {
  position: absolute;
  margin: auto;

  color: #072a6f;
  font-family: "Mukta";
  font-size: 48px;
  font-weight: 700;
}

.main-content-notif-daful .paragraph {
  position: absolute;
  margin-top: 90px;

  width: 1000px;

  color: black;
  font-family: "Mukta";
  font-weight: 500;
  font-size: 30px;
}

.main-content-notif-daful .box {
  position: absolute;
  margin-top: 210px;
  width: 750px;
  height: 690px;
  background-color: white;
  border-radius: 20px;
}

.main-content-notif-daful .box .title {
  position: absolute;
  margin-top: 40px;
  margin-left: 45px;

  color: #222222;
  font-family: "Mukta";
  font-weight: bold;
  font-size: 30px;
}

.main-content-notif-daful .box .dot {
  background-color: #072a6f;
  position: absolute;
  border-radius: 50%;
  display: "inline-block";
  width: 20px;
  height: 20px;
  margin-left: 45px;
  margin-top: 110px;
}

.main-content-notif-daful .box .subtitle {
  position: absolute;
  margin-top: 108px;
  margin-left: 80px;

  color: #222222;
  font-family: "Mukta";
  font-weight: bold;
  font-size: 18px;
}

.main-content-notif-daful .box .button {
  position: absolute;
  margin-top: 100px;
  right: 60px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;

  color: #24326b;
  font-family: "Mukta";
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  background-color: #ffe500;
}

.main-content-notif-daful .box .link {
  position: absolute;
  margin-top: 275px;
  margin-left: 32px;

  color: #222222;
  font-family: "Mukta";
  font-weight: bold;
  font-size: 14px;
}

.main-content-notif-daful .box .dropdown {
  position: absolute;
  margin-top: 100px;
  right: 60px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 80px;

  color: #ffe500;
  font-family: "Mukta";
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  border: none;
  border-radius: 50px;
  background-color: #072a6f;
}

.dropdown-daful .drop {
  position: absolute;
  margin-top: 170px;
  right: 60px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 80px;

  color: #ffe500;
  font-family: "Mukta";
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  border: none;
  border-radius: 50px;
  background-color: #072a6f;
}

.form-notif-daful {
  position: absolute;
  margin-top: 180px;
  right: 29px;

  width: 184px;
  height: 42px;
}

.polygon-button {
  position: absolute;
  margin-top: 14px;
  right: 10px;
  width: 14px;
  height: 13px;
}

.form-notif-daful .group .control {
  background-color: #072a6f;
  padding-right: 20px;
  color: #ffe500;
  font-family: "Mukta";
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: none;
}

.form-notif-daful .group .control .opsi {
  color: #ffe500;
  font-family: "Mukta";
  font-size: 18px;
  font-weight: bold;
  background-color: #072a6f;
  border: none;
  border-radius: 2px;
}

.popup-id-line .title {
  font-style: "Mukta";
  font-size: 18pt;
  font-weight: bold;
  color: #072a6f;

  margin-left: 5px;
}

.popup-id-line .id {
  height: 54px;
  width: 510px;
  margin-top: 10px;
  padding-left: 20px;

  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;

  font-family: "Mukta";
  font-size: 26px;
  font-weight: bold;
}
.popup-id-line .save-id-line {
  position: absolute;
  margin-top: 20px;
  right: 20px;
  width: 130px;
  height: 40px;

  color: #24326b;
  font-family: "Mukta";
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  background-color: #ffe500;
}

.main-content-notif-daful .box .upload-sk {
  display: none;
}

.lihat-sk .SK {
  height: 740px;
  width: 555px;
}

.upload-rapor .upload-rapor-smt {
  display: none;
}

.upload-rapor .button {
  position: absolute;
  margin-top: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;

  color: #24326b;
  font-family: "Mukta";
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  border: none;
  border-radius: 10px;
  background-color: #ffe500;
}

.upload-rapor .title {
  position: absolute;
  margin-left: 70px;

  color: #24326b;
  font-family: "Mukta";
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  font-weight: bold;
}

.upload-rapor .close {
  position: absolute;
  margin-left: 293px;

  height: 10px;
  width: 10px;
}
