@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;700&display=swap');

.popupAyah {
    background: #F5F6FA;
    height: 100vh;
}

.data .diri {
    position: absolute;
    
    width: 300px;
    height: 60px;
    margin-left: 80px;
    margin-top: 80px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;

    color: #BDBDBD;
}

.data .ibu .image {
    position: absolute;
    
    margin-top: 200px;
    margin-left: 260px;
}

.data .ibu .data {
    position: absolute;
    
    width: 300px;
    height: 60px;
    margin-left: 80px;
    margin-top: 180px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;

    color: #BDBDBD;
}

.data .ayah .image {
    position: absolute;
    
    margin-top: 300px;
    margin-left: 300px;
}

.data .ayah .data {
    position: absolute;

    width: 300px;
    height: 60px;
    margin-left: 80px;
    margin-top: 280px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;

    color: #072A6F;
}

/* ===================== Form ===================== */

.formBio {
    position: absolute;

    margin-left: 420px;
}

.formBio .namaAgama {
    position: absolute;

    width: 300px;

    margin-top: 75px;
}

.formBio .namaAgama .nama {
    position: absolute;

    width: 138px;
    height: 30px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #222222;
}

.formBio .namaAgama .namaForm {
    position: absolute;

    width: 380px;
    height: 48px;
    margin-top: 38px;

    font-family: Mukta;
    font-weight: bold;

    background: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.formBio .namaAgama .agama {
    position: absolute;

    width: 123.19px;
    height: 30px;
    margin-left: 400px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #222222;
}

.formBio .namaAgama .agamaForm {
    position: absolute;
    
    width: 380px;
    height: 48px;
    margin-left: 400px;
    margin-top: 38px;

    font-family: Mukta;
    font-weight: bold;

    background: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.formBio .alamat {
    position: absolute;

    width: 300px;

    margin-top: 180px;
}

.formBio .alamat .alamat {
    position: absolute;

    width: 251.33px;
    height: 30px;
    margin-top: 0px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #222222;
}

.formBio .alamat .alamatForm {
    position: absolute;

    width: 780px;
    height: 48px;
    margin-top: 38px;

    font-family: Mukta;
    font-weight: bold;

    background: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.formBio .kecamatanKota {
    position: absolute;

    width: 300px;

    margin-top: 285px;
}

.formBio .kecamatanKota .kecamatan {
    position: absolute;

    width: 251.33px;
    height: 30px;
    margin-top: 0px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #222222;
}

.formBio .kecamatanKota .kecamatanForm {
    position: absolute;

    width: 380px;
    height: 48px;
    margin-top: 38px;
    
    font-family: Mukta;
    font-weight: bold;

    background: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.formBio .kecamatanKota .kota {
    position: absolute;

    width: 123.19px;
    height: 30px;
    margin-left: 400px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #222222;
}

.formBio .kecamatanKota .kotaForm {
    position: absolute;
    
    width: 380px;
    height: 48px;
    margin-left: 400px;
    margin-top: 38px;

    font-family: Mukta;
    font-weight: bold;

    background: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.formBio .hpEmail {
    position: absolute;

    width: 300px;

    margin-top: 390px;
}

.formBio .hpEmail .hp {
    position: absolute;

    width: 251.33px;
    height: 30px;
    margin-top: 0px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #222222;
}

.formBio .hpEmail .hpForm {
    position: absolute;

    width: 380px;
    height: 48px;
    margin-top: 38px;

    font-family: Mukta;
    font-weight: bold;

    background: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.formBio .hpEmail .mail {
    position: absolute;

    width: 123.19px;
    height: 30px;
    margin-left: 400px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    color: #222222;
}

.formBio .hpEmail .emailForm {
    position: absolute;
    
    width: 380px;
    height: 48px;
    margin-left: 400px;
    margin-top: 38px;
    
    font-family: Mukta;
    font-weight: bold;

    background: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.simpan {
    position: absolute;
    
    width: 300px;
    height: 60px;
    margin-left: 80px;
    bottom: 50px;

    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;
}

.simpan .simpanData {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 56px;

    position: absolute;
    width: 175px;
    height: 46px;

    font-weight: bold;
    font-size: 20px;
    color: #072A6F;
    background: #FFE600;
    border: none;
    text-align: center;

    border-radius: 8px;
}