@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;700&display=swap');

::placeholder {
    color: #BDBDBD;
}

.body {
    background: #F5F6FA;
}

.lupaPassword {
    background: #F5F6FA;
    height: 100vh;
}

.lupaPassword .containerLupaPassword {
    max-width: 1920px;    
    height: 1080px;
    
}

.lupaPassword .containerLupaPassword .header1 {
    position: absolute;

    width: 334px;
    height: 80px;
    margin-left: 212px;
    margin-top: 165px;

    font-family: Mukta;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;

    color: #072A6F;
}

.lupaPassword .containerLupaPassword .header2 {
    position: absolute;

    width: 810px;
    height: 40px;
    margin-left: 212px;
    margin-top: 253px;

    font-family: Mukta;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;

    color: #000000;
}

.lupaPassword .containerLupaPassword .email {
    position: absolute;

    width: 384px;
    height: 48px;
    margin-left: 212px;
    margin-top: 290px;

    background: #FFFFFF;
    box-shadow: 0px 8px 16px 0px #000000 6%;
    border-radius: 32px;
}

.lupaPassword .containerLupaPassword .email .alfa {
    position: absolute;
    
    margin-left: 30px;
    margin-top: 17px;
}

.lupaPassword .containerLupaPassword .email .input {
    width: 300px;
    height: 50px;
    margin-left: 60px;
    margin-top: 0px;

    background: #FFFFFF;
    border-radius: 32px;
    border: none;
}

.lupaPassword .containerLupaPassword .kirim {
    position: absolute;

    width: 111px;
    height: 46px;
    margin-left: 628px;
    margin-top: 310px;

    font-family: Mukta;
    font-weight: bold;
    font-size: 18px;
    border: none;

    color: #072A6F;

    background: #FFE600;
    border-radius: 8px;
}