@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;700&display=swap');

.account-dashboard-tes-online {
    background: #F5F6FA;
    height: 100vh;
}

.account-dashboard-tes-online .custom-container{
    max-width: 1366px;
    margin: auto;
}

/* NAVBAR */

.account-dashboard-tes-online .logo-loyola {
    width: 64px;
    height: 64px;
    margin-left: 25%;
}

.account-dashboard-tes-online .navbar-greeting {
    color: #072A6F;
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-left: 40px;
}

.account-dashboard-tes-online .bantuan-button {
    color: #072A6F;
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
}

.account-dashboard-tes-online .logout-button {
    color: #EB5757;
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-right: 52px;
}

/* BODY */

.account-dashboard-tes-online h1 {
    color: #072A6F;
    font-family: Mukta;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    margin-left: 135px;
}

.account-dashboard-tes-online h2 {
    color: black;
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}

.account-dashboard-tes-online .card1 {
    margin-top: 15px;
    border-radius: 16px;
    height: 435px;
    margin-left: 37px;
    padding: 5px;
    border-style: none;
}

.account-dashboard-tes-online .card2 {
    margin-top: 15px;
    border-radius: 16px;
    height: 435px;
    padding: 5px;
    border-style: none;
}

.account-dashboard-tes-online a {
    color: #072A6F;
}

.account-dashboard-tes-online .link {
    text-align: right;
    font-family: Mukta;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-decoration-line: underline;
}

.account-dashboard-tes-online .ganti-jalur {
    margin-left: 52px;
}

.account-dashboard-tes-online table {
    width: 100%;
}

.account-dashboard-tes-online .content {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
}

.account-dashboard-tes-online .no-style-bullet {
    margin-bottom: 5%;
    font-family: Mukta;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.account-dashboard-tes-online .lihat-foto {
    color: #072A6F;
    text-decoration-line: underline;
}

.account-dashboard-tes-online .status {
    color: #EB5757;
}

.account-dashboard-tes-online .custom-bullet {
    border-radius: 50%;
    background-color: #072A6F;
    width: 10px;
    height: 10px;
    left: 0px;
    margin-right: 10px;
}

.account-dashboard-tes-online .row-height {
    height: 75px;
}

.account-dashboard-tes-online .check {
    width: 16px;
}

.account-dashboard-tes-online .button {
    background-color: #FFE600;
    color: #072A6F;
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    border-style: none;
    margin-right: -6%;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 8px;
}


.account-dashboard-tes-online .warning {
    margin-top: 8%;
}

.account-dashboard-tes-online .mulai {
    margin-left: 217px;
}

.account-dashboard-tes-online p {
    font-family: Mukta;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #072A6F;
}